@layer reset, base, responsive;

@import url("reset.css") layer(reset);

@layer base {

    :root {
        --font-size-base: 42px;
        --font-size-sm: 32px;
    }

    body {
        font-family: "Nunito", sans-serif;
        font-size: var(--font-size-base);
        font-optical-sizing: auto;
        font-style: normal;
    }

    .dropdown-list, .search-wrapper {
        background-color: #F3F3F3;
        border: 1px solid #DADADA;
        width: 85vw;
    }

    .search-wrapper {
        border-radius: 10px;
        position: relative;
        height: 170px;
    
    }

    .search-wrapper::after {
        content: url("dropdown-arrow.svg");
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .dropdown-list .list-item:hover {
        background-color: #1AAAF2;
        color: white;
        cursor: pointer;
    }

    .dropdown-list {
        margin-top: 0.7em;
    }

    .list-item h1 {
        font-weight: bold;
    }

    .list-item span {
        font-size: var(--font-size-sm);
    }

    .display-none {
        display: none !important;
    }

    .display-inline-block {
        display: inline-block;
    }

    input[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 70%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #848484;
        outline: none;
        font-size: var(--font-size-sm);
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
    
    label , .search-wrapper .list-item{
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    label {
        left: 7%;
    }
    .list-item {
        padding: 0.5em 0.6em;
        display: flex;         
        align-items: center;
        gap: 0.5em;

    }

    .list-item + .list-item {
        border-bottom: 2px solid white;
    }

    .list-item img {
        height: auto;
        width: 90px;
        
    }

    .combobox {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@layer responsive {
     
    @media (max-width: 826px) {
        body {
            font-size: 22px;
        }

        .list-item span {
            font-size: 12px;
        }

        .search-wrapper {
            height: 110px;

        }

        .list-item img {
            height: auto;
            width: 60px;
        }
    }
}