nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
}

#navbar li a:hover {
    color: hsl(5, 85%, 63%);
}

#mobile {
    display: none;
}

@media screen and (max-width: 769px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        
    }

    #navbar.active {
        right: 0px;
    }
    #mobile {
        display: block;
        z-index: 1000;
    }

    .close-icon-position {
        position: fixed;
        top: 25px;
        right: 45px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
}
