* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color:  hsl(0, 0%, 8%);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
