* {
    box-sizing: border-box;
}
body, html, {
    overflow-x: hidden;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: grey;
    margin: 0;
}

h1, h2 {
    font-family: 'Prata', serif;
    color: white;
}

.about, footer {
    background-color: #3a3b49;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline;
}

a {
    text-decoration: none;
    color: grey;
    font-size: 1rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}

.name a, .get-in-touch-link a {
    font-family: 'Prata', serif;
}

.get-in-touch-link a {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5vh 0 10vh 0;
}

.nav-links li {
    padding: 0 1rem 0 1rem;
}

/* .get-in-touch-link  {
    background-color: #e9e94d;
    padding: 0 1.5rem 0 1.5rem;
} */

header div {
    max-width: 40%;
    margin-left: 8vw;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.former-employers {
    display: flex;
    justify-content: space-between;
    margin: 10vh 8vw 10vh 8vw;
}

.projects img {
    max-width: 33vw;
    height: auto;
}

.projects article, .about article {
    max-width: 33vw;
    height: auto;
}

.projects h2 {
    font-size: 1.7rem;
    margin: 0.8rem 0 0.8rem 0
}


.projects p {
    margin: 0;
}
.projects {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.about {
    display: flex;
    justify-content: space-around;
    padding: 5vh 0 5vh 0;
}

.about h2, .contact h2 {
    font-size: 1.7rem;
    margin: 0;
}

.contact div {
    max-width: 35%;
    margin-left: 8vw;
}
.contact p {
    margin: 0;
}
.contact .two {
    text-align: center;
    padding: 0.17rem 1.4rem 0.17rem 1.4rem;
    margin: 0;
    margin-top: 0.8rem;
}

.contact {
    padding: 8vh 0 8vh 0;
}

footer {
    display: flex;
    justify-content: space-between;
}

.platform {
    display: flex;
    align-items: center;
}

.platform :nth-child(2) {
    padding: 0 0.85rem 0 0.85rem;
}

footer div h2 {
    font-size: 1rem;
    font-weight: normal;
}

footer div {
    padding: 0 8vw 0 8vw;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  min-width: 100%;
  z-index: 10;
}

.navigation .logo {
    margin-left: 8vh;
}
.navigation .logo h1 {
  color: white;
  font-size: 1rem;
  font-family: 'Prata', serif;
}

.navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

.navigation .menu-list li {
    margin: 0 20px;

}
.navigation .hamburger {
  z-index: 20;
  margin-right: 20px;
  display: none;
  postision: relative;
}
.navigation .menu-list li a {
  color: grey;
  font-size: 1rem;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}
.display-none {
    display: none !important;
}
.display-flex {
    display: flex !important;
}

.contact div button{
    margin-top: 1em;
}
button {
    background-color: #e9e94d;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border: none;
    font-family: 'Prata', serif;
}
@media (max-width: 990px) {
    .navigation .logo {
        margin-left: 7vh;
    }
}
/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navigation .menu-list {
    width: 60%;
  }

  .navigation .menu-list li a{
    font-size: 1rem;
  }

}

@media only screen and (max-width: 990px) {
    .button {
        display: none;
    }
}
/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

  .navigation {
    justify-content: space-between;
  }

  .navigation .menu-list {
    position: absolute;
    top: 7.8vh;
    min-width: 100%;
    min-height: 70%;
    background: #3a3b49;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 2em;
  }

  .navigation .menu-list li {
    display: block;
  }

  .navigation .menu-list li a {
    display: block;
    padding: 0px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }

  .navigation .menu-list li a:hover{
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }


  .navigation .hamburger{
    display: block;
  }

}
    